{% extends "base.html" %}
{% load static %}
{% block container %}
    {% for post in object_list %}
        <div class="mb-5">
            <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>

            <small>{{ post.timestamp|date:"d E в G:i" }} от <a
                    href="{% url "blog:posts" username=post.user.username %}">{{ post.user.username }}</a>
            </small>
            {% if request.user.is_authenticated %}
                {% if post not in request.user.blog_data.read_posts.all %}
                    <a class="ml-3 btn-read-message" href="#" data-postid="{{ post.id }}"><img
                            src="{% static "img/message-plus.png" %}"></a>
                {% endif %}
            {% endif %}

            <div class="mt-4">
                {{ post.content }}
            </div>
        </div>
        <hr>
    {% empty %}
        <p class="lead">Не найдено постов среди актуальных подписок</p>
        <a class="btn btn-primary" href="{% url "home" %}">Посмотреть кто зарегистрирован</a>
    {% endfor %}
{% endblock %}

{% block script %}
    <script>
        function markPostAsRead(btnClicked) {
            var subscribeBtn = $('#btn-subscribe');
            var data = {
                "post": btnClicked.data('postid')
            };
            $.ajax({
                url: "{% url "blog:feed" username=request.user.username %}",
                method: "post",
                data: data,
                success: function (data) {
                    console.log(data);
                    btnClicked.remove();
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            })
        }

        $('.btn-read-message').click(function () {
            var btnClicked = $(this);
            markPostAsRead(btnClicked);
            console.log();
        })
    </script>
{% endblock %}